@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {

}

body {
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#main-content {
    padding-left: 5vw;
    padding-right: 5vw;
}

.carousel {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.NFT-src img {
    width: 25vw;
    height: auto;
}

.collection_buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}

.col-btn {
    background-color: transparent;
    border: none;
    /* set max width responsive unit   */
}

.col-btn:hover {
    opacity: 50%;
}

.col_box{

}
.col_card_grid {

}

.asset_card {
}

.glow {
    color: #32fbe2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    text-shadow: 0 0 1px rgba(50, 251, 226, 0.6), 0 0 3px rgba(50, 251, 226, 0.5), 0 0 0.5rem rgba(50, 251, 226, 0.3), 0 0 2rem rgba(50, 251, 226, 0.2);
}
