.carousel {
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;

}

.NFT-src img { /* what is this*/
    width: 25vw;
    height: auto;
}

.collection_buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}

.col-btn {
    background-color: transparent;
    border: none;

}

.col-btn img{
    border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;

    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

}

.col-btn:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out; /* Safari */
}
